@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    position: relative;
    overflow-y: scroll;
    
}

::-webkit-scrollbar{
    display: none;
}
/*Navigations*/
.logo{
    display: flex;
    width: 100%;
    align-items: center;
}
.logo img{
   
    width: 10vh;
    height: 10vh;
    margin-left: 60px;
}
.logo h1{
    color: white;
    font-size: 3rem;
    font-family: "Dancing Script";
}
#navbar {
    position: relative;
    top: 0px;
    transition: all 1s ease;
    z-index: 3;
    scroll-behavior: smooth;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ff9b9b;
}
nav h1{
    font: 3rem "Dancing Script";
    letter-spacing: 2px;
}
.nav-link{    
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.nav-link li{
    list-style: none;
}
.nav-link a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.5rem;
    width: 20%;
}
.burger{
    display: none;
    margin-right: 20px;
}
.burger div{
    width: 30px;
    height: 5px;
    margin: 5px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s ease;
}
/*Cake Choices*/
.cakes{
    display: flex;
    margin: 10px 20px;
    justify-content: center;
}

.cakes ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
   width: 100%;
}

.cakes ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #da9999;
    color: white;
    margin: 0 10px;
    list-style: none;
    border-radius: 20px;
    width: 20vw;
    height: 8vh;
    transition: all .5s ease;
}
.cakes ul li.active{
    display: none;
}

.cakes ul li:hover{
    background-color:#fcd9d9;
    border-radius: 30px;
    cursor: pointer;
}

.cakes ul li:hover h3{
    color:#da9999;
}


.whatsNew{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: scale(1);
    transition: all .3s ease-in;
    z-index: 1;
}

.cake{
    display: block;
    width: 20vw;
    margin: 2vh 10px;
    border-radius: 5px;
    background-color: #ff9b9b;
    color: white;
}
.cake img{
    width: 20vw;
    height: 20vh;
    object-fit:  cover;
    cursor: pointer;
}

.cake h3{
    width: 20vw;
    text-align: center;
    font: 1.2rem "Poppins";
    letter-spacing: 1px;
    margin: 1vh auto;
}

.cake p{
    margin: 1vh auto;
    width: 20vw;
    text-align: center;
}
/* whats new */
.whatsNew1{
    width: 100%;
    height: 100vh;
    margin: 10px;
    display: block;
    position: relative;
    overflow-y: scroll;
    
}
/* .wActive{
    transform: translateX(0);
    transition: all .5s ease-in;
} */
.wActive2{
    transform: scale(0);
    transition: all .3s ease-in;
}
/* Round cakes */
.roundCakes{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: scale(0);
    transition: all .3s ease-in;
    z-index: 1;
}

.rActive{
    transform: scale(1);
    transition: all .3s ease-in;
}
/* .rActive2{
    transform: translateX(-100%);
    transition: all .5s ease-in;
} */
/* Roll Cakes */
.rollCakes{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: scale(0);
    transition: all .3s ease-in;
    z-index: 1;
}
.rcActive{
    transform: scale(1);
    transition: all .3s ease-in;
}
/* .rcActive2{
    transform: translateX(-100%);
    transition: all .5s ease-in;
} */

/* Dreamcake and Cheesecake */
.dreamCake{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: scale(0);
    transition: all .3s ease-in;
    z-index: 1;
}
.dcActive{
    transform: scale(1);
    transition: all .3s ease-in;
}
/* cupcakes */
.cupCake{
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: scale(0);
    transition: all .3s ease-in;
    z-index: 1;
}
.cActive{
    transform: scale(1);
    transition: all .3s ease-in;
}
/* sweet bites */
.sweetBites{
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: scale(0);
    transition: all .3s ease-in;
    z-index: 1;
}
.sActive{
    transform: scale(1);
    transition: all .3s ease-in;
}


/* FOOTER */

footer{
    display: block;
    /* position: absolute;
    bottom:-40vh; */
    background-color: plum;
    width: 100%;
    height: 30vh;
    text-align: center;

}

footer h1{
    font: 5rem "Dancing Script";
    color: white;
    margin: 2vh auto;
    padding: 20px auto;
}

footer button{
    width: 10vw;
    height: 7vh;
    border-radius: 10px;
    border-style: none;
    margin: 0 5px;
    font: 1rem "Poppins";
    color: white;
    background-color: rgb(255, 66, 170);
    cursor: pointer;
}

footer p{
    color: white;
    margin-top: 25px;
}


footer p a{
    color: white;
    text-decoration: none;
}
.contactus{
    position: absolute;
    display: block;
    width: 100%;
    height: 70vh;
    top: 10vh;
    left: 0;
    margin: 0 auto;
    background-color: rgb(243, 197, 243);
    z-index: 3;
    color: white;
    transform: translateY(-150%);
    transition: all .5s ease;
}

.contactActive{
    transform: translateY(0);;
}

.card{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
    background-color: plum;
}

.card h1{
    font: 1.9rem "Poppins";
    margin-top: 20px;
    margin-left: 10vw;
}
.card p{
    font: 1rem "Poppins";
    margin-left: 10vw;
}
.card i{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    transition: all .5s ease;
}
.card i:active{
    transform: scale(.8);
    transform: rotate(105deg);
    opacity: .5;
}

.contactus form{
    display: block;
    width: 80%;
    margin: 10px auto;
}
.contactus form h3{
    margin-bottom: 10px;
}
.contactus form input{
    width: 100%;
    height: 3vh;
    margin-bottom: 5px;
    border-style: none;
    border-radius: 5px;
    outline: 0;
    font: 1rem "Poppins";
}


textarea{
    width: 100%;
    font: 1rem "Poppins" ;
    resize: none;
    border-style: none;
    outline: 0;
}
.contactus button{
    width: 10%;
    height: 5vh;
    margin-top: 20px;
    margin-right: 130px;
    border: none;
    float: right;
    font: 1rem "Poppins";
    color: white;
    background-color: plum;
    transition: all .5s ease;
    cursor: pointer;
    outline: 0;
}
button:active{
    transition: all .5s ease;
    outline: 0;
    transform: scale(.8);
}
.contactactive{
    position: fixed;
    transform: translateY(0);
    transition: all .5s ease;
}
.contactactive1{
    position: fixed;
    transform: translateY(-100%);
    transition: all .5s ease;
}



@media screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    
    body{
        font-family: "Poppins";
        position: relative;
        overflow-y: scroll;
        
    }
    .logo h1{
        font-size: 2rem;
    }
    .logo img{
        margin-left: 20px;
    }
    .nav-link{
        display: none;
    }

    .burger{
        position: absolute;
        display: block;
        right: 15px;
        z-index: 999999;
    }

    .burger div{
        background-color: #ffffff;
    }
    .navlinks{
        position: absolute;
        right: 0px;
        height: 40%;
        top: 10vh;
        /* background-color: #ff9b9b4d; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-bottom: 10px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }

    
    .cakes ul.navlinks li{
        opacity: 0;
        background-color: #ffffff00;
        width: 55vw;

        transition: all .5s ease;
        border-radius: 10px;
    }
    .cakes h3{
        width: 100%;
        font-size: 1rem;
        transition: all .3s ease;
    }
    
    .cakes ul li.active{
        /* background-color: #ff9b9b73; */
        border-radius: 0;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        /* pointer-events: none; */
    }
    .cakes ul li:hover h3{
        color: white;
    }


    .typeofCakes{
        color:#ff7171;
        margin-bottom: 10px;
    }
    .typeofCakes:active{
        transform: scale(.9);
    }
    .active a{
        text-align: center;
        color: white;
        text-decoration: none;
    }

    .active a h3{
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 3px;
        transition: all .5s ease;
    }

     li.active a h3{
        color: white;
    }


    .whatsNew{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .roundCake1{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .rollCakes{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .dreamCake{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        z-index: -1;
    }
    .cupCake{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
       
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .sweetBites{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .cake{
        display: block;
        width: 40%;
        height: 40%;
        margin: 2vh 10px;
        background-color: #ff9b9b;
        color: white;
    }
    .cake img{
        width:100%; 
        height: 20vh;
        object-fit:  cover;
    }
    
    .cake h3{
        width: 100%;
        text-align: center;
        font: 15px "Poppins";
        letter-spacing: 1px;
        margin: 1vh auto;
    }
    
    .cake p{
        margin: 1vh auto;
        width: 100%;
        font-size: 12px;
        text-align: center;
    }
    .whatsNew .cake:nth-last-of-type(1){
        margin-right: 50%;
    }
    
    footer{
        background-color: plum;
        width: 100%;
        height: 30vh;
        display: block;
        text-align: center;
        overflow-y: hidden;
    }
    
    footer button{
        width: 25vw;
        height: 5vh;
        border-radius: 10px;
        border-style: none;
        margin: 30px 5px;
      
        
        font: .5rem "Poppins";
        color: white;
        background-color: rgb(255, 66, 170);
        cursor: pointer;
    }
    footer h1{
        font: 2.5rem "Dancing Script";
        color: white;
        margin: 2vh auto;
        margin-top: 5vh;
        padding: 40px auto;
    }
    footer p{
        color: white;
        font-size: 10px;
        margin: 0;
        width: 100vw;
    }
    

}

.ftActive{
    display: block;
    position: absolute;
    top: 100vh;
    background-color: plum;
    width: 100%;
    height: 30vh;
    display: block;
    text-align: center;
}

.nav-active {
    background-color: #ff9b9be8;
    transform: translateX(0%);
    overflow-y: scroll;
    color: white;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
transform: rotate(-45deg) translate(-7px, 6px);
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-7px, -6px);
}
