@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    overflow-y: scroll;
    
}
::-webkit-scrollbar{
    display: none;
}

/*!!!!!!!HEADER NAVIGATIONS!!!!!!!!!!!*/

.logo{
    display: flex;
    align-items: center;
}


.logo img{
    width: 10vh;
    height: 10vh;
    margin-left: 60px;
}

.logo h1{
    width: 100%;
    color: white;
    font-size: 5rem;
    font-family: "Dancing Script";
}
#navbar {
    top: 0px;
    transition: all 1s ease;
    
  }
nav{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    z-index: 1;
    background-color: plum;
}
nav h1{
    font: 4rem "Dancing Script";
    letter-spacing: 2px;
}
.nav-link{
    display: flex;
    width: 30%;
    justify-content: space-around;
    
    transition:all .5s ease-in;
}
.nav-link li{
    list-style: none;
    display: flex;
    width: 20%;
    align-items: center;
}
.nav-link li:last-child{
    margin-right: 20px;
}
.nav-link a{
    color: white;
    text-decoration: none;
    
}

.nav-link a h4{
    width: 50vw;
    font-size: 1.3rem;
    transition: all .5s ease
}

.nav-link li:hover h4{
    color: purple;
}



.dropdown{
    position: absolute;
    top: 10vh;
    right: -400px;
    margin: 0 auto;
    z-index: 99999;
}

.dropdown a p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vh;
    background-color: plum;
    height: 9vh;
    text-transform: uppercase;
    transition: all .7s ease;
}

.dropdown a:hover p{
    background-color: rgb(190, 131, 190);
    transform: scale(1.1);
    border-radius: 15px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: all .5s ease;
    border: none;
    background-color: plum;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.2rem;
    width: 50%;
    height: 5vh;
}

.menu:hover{
    color: purple;
}

.menu:hover .arrow div{
    background-color: purple;
}   

button:focus{
    outline: none;
}

.menu p{
    margin-right: 5px;
}
.select{
    width: 50vw;
    height: 100%;
    text-align: center;
}
.arrow{
    
    display: block;
    transition: all 0.7s ease;
}

.arrow div{
    width: 15px;
    height: 3px;
    background-color: white;
    transition: all .5s ease;
}   

.line1{
    transform: rotate(-55deg) translate(3px,-3px);
}
 .line2{
    transform: rotate(-135deg) translate(-2px, -2px);
}



.burger{
    display: none;
    margin-right: 20px;
}


.burger div{
    width: 30px;
    height: 5px;
    margin: 5px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s ease;
}
.active{
    right: 0;
    transition: all 1s ease;
}

.toggle{
    transform: rotate(-90deg);
}

.container{
    display: block;
    width: 90%;
    height: 100%;
    margin: 20px auto;
    border-radius: 20px;
}

.container h1{
    text-align: center;
    color: rgb(56, 56, 56);
    font: 40px "Poppins";
    margin-bottom: 20px;
}
.card{
    display: flex;
    background-color: rgb(201, 137, 201);
    border-radius: 10px;
}

.cake{
    display: block;
    width: 50%;
    height: 65vh;
    margin-left:50px;
    text-align: center;
    color: white;
}

.cake img{
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
}

.order{
    position: relative;
    display: block;
    width: 50%;
    height: 55vh;
    margin: 20px;
    
}
.order h3{
    text-align: center;
    font-size: 3rem;
    
}
.order h3, .order p{
    color: white;
    margin: 20px auto;
}


.orderForm{
    margin: 0 auto;
    margin-top: 13vh;
    display: block;
    width: 70%;
}
.orderForm input{
    transition: all .5s ease;
}

.orderForm input[type=text], input[type=tel]{
    width: 100%;
    margin: 10px 0;
    height: 5vh;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Poppins";
    font-size: 20px;
    color: white;
}





.orderForm input:nth-last-of-type(2){
    width: 80%;
    margin: 0 auto;
}

.orderForm i{
    margin: 0 10px;
    font-size: 20px;
    transition: all .5s ease;
}

.orderForm i:hover{
    color: white;
    transform: scale(1.3);
}

.orderForm input[type=button]{
    margin: 20px 0;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    font-family: "Poppins";
    font-size: 20px;
    letter-spacing: 5px;
    background-color: rgb(184, 116, 184);
    cursor: pointer;
    color: white;
}

.orderForm input:focus{
    outline: none;
    
}

.orderForm input:hover{
    border-bottom: solid 2px rgb(184, 116, 184);
    box-shadow: 2px 5px 5px rgb(184, 116, 184);
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggles .line3 {
transform: rotate(-45deg) translate(-7px, 6px);
}

.toggles .line4 {
opacity: 0;
}

.toggles .line5 {
transform: rotate(45deg) translate(-7px, -6px);
}



@media screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
       
    }
    body{
        position: relative;
    }
    .logo img{
        width: 6vh;
        height: 5vh;
        margin-left: 10px;
    }
    .logo h1{
        width: 100%;
        font-size: 1.5rem;
    }
    .burger{
        display: block;
    }
    nav{
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 8vh;
        z-index: 1;
        background-color: plum;
    }
    .nav-link{
       
        position: absolute;
        display: block;
        top: 60px;
        width: 100%;
        height: 26vh;
        background-color: plum;
        z-index: 1;
        transform: translateX(100%);
    }
    .nav-link li{
        display: flex;
        width: 100%;
        margin: 40px auto;
        justify-content: center;
        align-items: center;
    }
    .nav-link a{
        text-align: center;
        color:white;
    }
    .nav-link a h4{
        width: 50vw;
        font-size: 1.3rem;
        transition: all .5s ease
    }
    .nav-active {
        background-color:  plum;
        transform: translateX(0%);
        overflow-y: scroll;
    }
    .select{
        width: 100%;
    }

    .menu{
        display: flex;
        width: 100vw;
        margin-bottom: 100vh;
        
    }

    .menu p{
        font-size: 1.3rem;
    }
    .arrow{
        display: none;
    }
    .dropdown{
        position: absolute;
        display: block;
        margin: 0 auto;
        top: 10vh;   
        width: 100%;
        z-index: 99;
    }

    .dropdown a{
        width: 100%;
    }

    .dropdown a p{
        display: block;
        margin: 0 auto;
        width: 20vh;
        font-size: 0.4rem;
    }
    .active{
        width: 100%;
        right: 0;
        background-color: plum;
        transition: all 1s ease;
    }

    .card{
        display: block;
    }

    .cake{
        width: 100%;
        height: 30vh;
        margin: 0 auto;
    }
    .cake img{
        width:90%;
        margin: 20px auto;
    }
    .order{
        position: relative;
        display: block;
        width: 90%;
        height: 70vh;
        margin: 0 auto;
    }
    .order h3{
        font-size: 1.2rem;
    }

    .order h3, .order p{
        margin: 10px auto;
        text-align: center;
    }

    .orderForm{
        display: block;
        width: 70%;
        margin-top: 5vh;
        justify-self: center;
        align-items: center;
        z-index: 1;
    }
    .orderForm input[type=text], input[type=tel]{
        color: black;
    }

    .orderForm i{
        margin: 0 5px;
        font-size: .5rem;
    }
    .load{
        height: 75vh;
    }
    .loads{
        margin-bottom: 50vh;
    }
}
