@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


body{
    font-family: "Poppins";
    overflow-y: auto;
    overflow-x: hidden;
}
.body{
    position: relative;
}

/*!!!!!!!HEADER NAVIGATIONS!!!!!!!!!!!*/

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}


.logo img{
    width: 20vh;
    height: 20vh;
    margin-left: 60px;
}
.name{
    width: 50%;
}

.logo h1{
    margin: -10px auto;
    width: 100%;
    color: white;
    font-size: 50px;
    font-family: "Dancing Script";
}
p.small{
    text-align: center;
    position: relative;
    display: flex;
    color: white;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}
#navbar {
    position: relative;
    top: 0px;
    transition: all 1s ease;
    z-index: 2;
  }
nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: plum;
}
nav h1{
    font: 4rem "Dancing Script";
    letter-spacing: 2px;
}
.nav-link{
    display: flex;
    width: 35%;
    justify-content: space-around;
}
.nav-link li{
    color: white;
    list-style: none;
     margin-right: 10px; 

}
.nav-link li h3{
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-link li div{
    cursor: pointer;
}
.nav-link a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.5rem;
    width: 20%;
}


.burger{
    display: none;
    margin-right: 20px;
}


.burger div{
    width: 30px;
    height: 5px;
    margin: 5px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s ease;
}
/* BODDDDDDDDDDDYYYYYYYYYyyyy */
input{
    display: none;
}
.header{
    width: 90%;
    height: 20vh;
    margin: 0 auto;
    z-index: 1;
    background-color: white;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}
.header h1{
    background-color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato";
    color: plum;
    border: solid 1px;
    border-radius: 10px;
    font-size: 3rem;
    margin: 40px auto;
    letter-spacing: 4px;
    box-shadow: 3px 3px 5px plum;
    -webkit-text-stroke: 1px rgb(182, 90, 182);
}
.navi{
    background-color: rgb(180, 133, 180);
    height: 60px;
    width: 90%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}
.navigations{
    background-color: rgb(180, 133, 180);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.nav-cont label{
    display: inline-block;
    margin:0 40px;
    color: white;
    cursor: pointer;
}
.nav-cont label:hover{
    transform: scale(1.2);
    transition: all .5s ease;
    color: rgb(0, 0, 0);;
}
.orderhere i{
    margin-top:10px;
    margin-right: 20px;
    font-size: 30px;
    color: white;
}
.orderhere{
    display: flex;
    cursor: pointer;
}
.orderhere p{
    margin: 15px 6px;
    color: white;
}
.orderhere:hover p, .navi .orderhere:hover i{
    transition: all .5s ease;
    color: rgb(0, 0, 0);
}
/* Order Form */
/* .order-form{
    height: 63vh;
    width: 100%;
    background-color: plum;
    position: absolute;
    z-index: -1;
    transform: translateY(-100%);
    opacity: 0;
    border-radius: 0px 0px 13px 13px;
    transition: all .05s ease-in-out;
}
.order-form h4{
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 7%;
    color: white;
}
.order-form h5{
    margin-top: 10px;
    margin-left: 7%;
    margin-bottom: -2%;
    color: white;
}
.order-form input{
    background-color: #fff;
    display: block;
    margin-top: -2%;
    margin-left: 7%;
    width:85%;
    height: 5vh;
    border-radius: 10px;
    outline: none;
    border: none;
    font: 14px "Lato";
}
.order-form textarea{
    margin-top: -2%;
    width: 85%;
    height: 25vh;
    margin-top: 3%;
    margin-left: 7%;
    font: 14px "Lato";
}
.order-form button{
    float: right;
    margin-right: 8%;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    background-color: rgb(191, 134, 191);
    cursor: pointer;
    font: 17px "Lato";
    color: white;
}
.order-form button:active{
    transform: scale(.9);
    transition: all .5s ease-in-out;
}
.active{
    transform: translateY(0);
    opacity: 1;
    z-index: -1;
    transition: all .5s ease-in-out;
} */
/* Order Form */
.cakes1{
    width: 100%;
    height: 100vh;
    margin: 10px;
    display: block;
    position: relative;
    overflow-y: auto;
}
.cakes1::-webkit-scrollbar{
    display: none;
}
.cakecont{
    width: 90%;
    display: grid;
    margin: 20px auto;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 20px;
}

.cakes{
    position: relative;
    height: 200px;
    transition: .5s;
    transition: all .5s ease-in;
}
.cakes img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .6s ease-in;
}
.all{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .5s;
}
.adt{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

.kd{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
.adt2, .kd2{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .5s;
}

.cake1{
    position: fixed;
    bottom: 20px;
    left: 15%;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 500px;
    width: 70%;
    background-color: rgba(221, 160, 221, 0.91);
    transition: all .6s ease-in;
    border-radius: 10px;
    z-index: 1;
}
.cake1 img{
    margin-left: 40px;
    margin-top: 20px;
    width: 90%;
    height: 90%;
    object-fit: contain;
    transition: all .6s ease-in;
    opacity: 1;
}

.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition: all .3s ease-in;
}
footer{
    display: block;
    /* position: absolute;
    bottom:-40vh; */
    background-color: plum;
    width: 100%;
    height: 30vh;
    text-align: center;

}

footer h1{
    font: 5rem "Dancing Script";
    color: white;
    margin: 2vh auto;
    padding: 20px auto;
}

footer button{
    width: 10vw;
    height: 7vh;
    border-radius: 10px;
    border-style: none;
    margin: 0 5px;
    font: 1rem "Poppins";
    color: white;
    background-color: rgb(255, 66, 170);
    cursor: pointer;
}

footer p{
    color: white;
    margin-top: 25px;
}


footer p a{
    color: white;
    text-decoration: none;
}
.contactus{
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
    top: 0vh;
    left: 0;
    margin: 0 auto;
    background-color: rgb(243, 197, 243);
    z-index: 3;
    color: white;
    transform: translateY(-150%);
    transition: all .5s ease;
}

.contactActive{
    transform: translateY(0);;
}

.card{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
    background-color: plum;
}

.card h1{
    font: 1.9rem "Poppins";
    margin-top: 20px;
    margin-left: 10vw;
}
.card p{
    font: 1rem "Poppins";
    margin-left: 10vw;
}
.card i{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    transition: all .5s ease;
}
.card i:active{
    transform: scale(.8);
    transform: rotate(105deg);
    opacity: .5;
}

.contactus .form{
    display: block;
    width: 80%;
    margin: 10px auto;
}
.contactus .form h3{
    margin-bottom: 10px;
}
.contactus .form input{
    display: block;
    width: 100%;
    height: 3vh;
    margin-bottom: 5px;
    border-style: none;
    border-radius: 5px;
    outline: 0;
    font: 1rem "Poppins";
}


textarea{
    width: 100%;
    font: 1rem "Poppins" ;
    resize: none;
    border-style: none;
    outline: 0;
}
.contactus button{
    width: 10%;
    height: 5vh;
    margin-top: 20px;
    margin-right: 130px;
    border: none;
    float: right;
    font: 1rem "Poppins";
    color: white;
    background-color: plum;
    transition: all .5s ease;
    cursor: pointer;
    outline: 0;
}
button:active{
    transition: all .5s ease;
    outline: 0;
    transform: scale(.8);
}
.contactactive{
    position: fixed;
    transform: translateY(0);
    transition: all .5s ease;
}
.contactactive1{
    position: fixed;
    transform: translateY(-100%);
    transition: all .5s ease;
}

@media screen and (max-width: 768px){
    html, body{ 
        overflow-x: hidden;
    } 
    body{
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar{
      display: none;
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
        width: 6vh;
        height: 5vh;
        margin-left: 5px;
    }

    .logo h1{
        font-size: 20px;
        width: 100%;
    }
    p.small{
        font-size: 12px;
    }
    nav{
        position: relative;
    }


    .burger{
        display: block;
    }


    .nav-link{
        display: flex;
        position: absolute;
        top: 7vh;
        align-items: center;
        width: 100%;
        flex-direction: column;
        height: 40vh;
        background: plum;
        z-index: 99999999;
        transform: translateX(100%);
    }
    .nav-link li{
        height: 5vh;
    }

    .active{
        transition: all 0.5s ease-in;
        transform: translateX(0);
        z-index: 5;
    }
    .active1{
        transition: all 0.5s ease-in;
        transform: translateX(150%);
    }

    .header h1{
        font-size: 25px;
        text-align: center;
    }
    .navi{
        background-color: rgb(180, 133, 180);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
    }
    .navi label{
        display: inline-block;
        margin:0 10px;
        color: white;
        cursor: pointer;
    }

    .cakecont{
        position: absolute;
        width: 90%;
        overflow-y: scroll;
        display: grid;
        margin: 20px auto;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 20px;
        
       
    }
    
    .cakes{
        position: relative;
        height: 200px;
        transition: .5s;
        transition: all .5s ease-in;
    }
    .cakes img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: all .6s ease-in;
    }
    .all{
        opacity: 0;
        transform: scale(0);
        position: absolute;
        transition: .5s;
    }
    .adt{
        opacity: 1;
        transform: scale(1);
        position: relative;
        transition: .5s;
    }
    
    .kd{
        opacity: 1;
        transform: scale(1);
        position: relative;
        transition: .5s;
    }
    .adt2, .kd2{
        opacity: 0;
        transform: scale(0);
        position: absolute;
        transition: .5s;
    }
    .orderhere p{
        display: none;
    }
    .cake1{
        position: fixed;
        bottom:10%;
        left: 15px;
        display: none;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 450px;
        width: 320px;
        background-color: rgba(221, 160, 221, 0.91);
        transition: all .6s ease-in;
        border-radius: 10px;
        overflow-y: hidden;
        z-index: 1;
    }
    .cake1 img{
        
        position: absolute;
        left: 0;
        margin: 20px;
        width: 90%;
        height: 90%;
        object-fit: contain;
        transition: all .6s ease-in;
        opacity: 1;
    }
    footer{
        background-color: plum;
        width: 100%;
        height: 30vh;
        display: block;
        text-align: center;
        overflow-y: hidden;
    }
    
    footer button{
        width: 25vw;
        height: 5vh;
        border-radius: 10px;
        border-style: none;
        margin: 30px 5px;
      
        
        font: .5rem "Poppins";
        color: white;
        background-color: rgb(255, 66, 170);
        cursor: pointer;
    }
    footer h1{
        font: 2.5rem "Dancing Script";
        color: white;
        margin: 2vh auto;
        margin-top: 5vh;
        padding: 40px auto;
    }
    footer p{
        color: white;
        font-size: 10px;
        margin: 0;
        width: 100vw;
    }
    .contactus button{
        width: 80px;
        height: 40px;
        margin-right: 40px;
    }
    .contactus .form input{
        width: 100%;
        height: 30px;
        margin-bottom: 5px;
        border-style: none;
        border-radius: 5px;
        outline: 0;
        font: 1rem "Poppins";
    }
    

}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes showMe {
      0% { 
  
          visibility: visible; 
          z-index: 1; 
      }
      12.5% { 
        
          visibility: visible; 
          z-index: 1; 
      }
      25% {
         
           visibility: hidden; 
           z-index: 0; }
      100% {   
             
          visibility: hidden; 
          z-index: 0; 
      }
  }
  @keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
  }
  
  .toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 6px);
  }
  
  .toggle .line2 {
  opacity: 0;
  }
  
  .toggle .line3 {
  transform: rotate(45deg) translate(-7px, -6px);
  }
