@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body{
    font-family: "Poppins";
    overflow-y: scroll;
    overflow-x: hidden;
    
}
::-webkit-scrollbar{
    display: none;
  
}
.body{
    position: relative;
}

/*!!!!!!!HEADER NAVIGATIONS!!!!!!!!!!!*/

.logo{
    display: flex;
    align-items: center;
}


.logo img{
    width: 20vh;
    height: 20vh;
    margin-left: 60px;
}
.name{
    width: 50%
    ;
}

.logo h1{
    margin: -10px auto;
    width: 100%;
    color: white;
    font-size: 50px;
    font-family: "Dancing Script";
}
p.small{
    text-align: center;
    position: relative;
    display: flex;
    color: white;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}
#navbar {
    position: relative;
    top: 0px;
    transition: all 1s ease;
    z-index: 2;
  }
nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: plum;
}
nav h1{
    font: 4rem "Dancing Script";
    letter-spacing: 2px;
}
.nav-link{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.nav-link li{
    color: white;
    list-style: none;
    /* margin-right: 10px; */
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-link li div{
    cursor: pointer;
}
.nav-link a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.5rem;
    width: 20%;
}


.burger{
    display: none;
    margin-right: 20px;
}


.burger div{
    width: 30px;
    height: 5px;
    margin: 5px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s ease;
}

  
/*!!!!!!!!!CONTENT!!!!!!!!!*/

.mySlides {
    margin:0 auto;
    display: none;
}
.mySlides img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}


.choices{
    position: absolute;
    width: 100%;
    bottom: 3vh;
    left: 48%;
    display: flex;
    margin: 0 auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #ff9b9b;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* CONTENT 2 */

.container2{
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
}

.container2 h1{
    font: 3rem "Dancing Script";
    padding-top: 20vh;
    margin-bottom: 10vh;
    text-align: center;
}

.products{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}


.header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #ff9b9b;
}

.header h4{
    font-size: 1.2rem;
    display: block;
    margin: 10px auto;
}
.new{
    position: relative;
    display: inline-block;
    width: 25%;
    height: 50vh;
    margin: 0 40px;
    cursor: pointer;
    margin-bottom: 25vh;
}

.new img, a img{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    
}



.new p{
    padding: 10px 10px;
    text-align: center;
    color: white;
    background-color:#ff9b9b ;
    font-size: 1rem;
}


a .cheesecake{
    display: none;
    position: absolute;
    top: 10vh;
    left: 0;
    animation: showMe 2s ease infinite 0.2s forwards;
    animation-play-state: paused;
    z-index: -2;
}

 .cheesecake:nth-child(1){
    animation-delay: 0.3s;
	z-index: -2;
}
 .cheesecake:nth-child(2){
	animation-delay: .6s;
	z-index: -1;
}
 .cheesecake:nth-child(3){
	animation-delay: .9s;
	z-index: 1;
}


/*!!!!!!!!!!!!! CONTENT 3 !!!!!!!!!!!!!!*/
.container3{
    position: relative;
    display: block;
    height: 100vh;
}
.bGround{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
        color: #eeeeee;
        text-align: center;
}

.one{
    background-image: url(./logo/Cover.jpg);
}

.two{
    position: relative;
    background-image: url(./logo/logo.png);
    background-size: contain;
    background-color: #ffd1d1;
    height: 100%;
}
.cardContainer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: block;
    background-color: #ff9b9b;
    text-align: center;
}

.cardContainer h1{
    margin: 20px auto; 
    font: 3rem "Dancing Script";
}

.cardContainer p{
    width: 70%;
    font-size: 1rem;
    margin: 25px auto;
    padding-bottom: 20px;
}


/*!!!!!!!!!!!!! FOOTEEEERRR !!!!!!!!!!!!!!*/
footer{
    background-color: plum;
    position: absolute;
    bottom: -100vh;
    width: 100%;
    height: 30vh;
    display: block;
    text-align: center;
    z-index: 99999;
}

footer h1{
    font: 50px "Dancing Script";
    color: white;
    margin: 20px auto;
}

footer button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    margin-left: 10px;
    font: 14px "Poppins";
    color: white;
    background-color: rgb(255, 66, 170);
    cursor: pointer;
    outline: 0;
    transition: all .3s ease;
}

footer button:active{
    transform: scale(0.9);
}

footer p{
    color: white;
    margin-top: 30px;
}

footer p a{
    color: white;
    text-decoration: none;
}

.scrollup{
    position: fixed;
    right: 2vw;
    bottom: 0;
    font-size: 60px;
    color: plum;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
}
.scrollup:active{
    transform: scale(.9);
}
.scrollAct{
    position: absolute;
    bottom: -365vh;
    right: 2vw;
    font-size: 60px;
    color: plum;
    z-index: 2;
    opacity: 1;
   
    cursor: pointer;
}
.scrollAct2{
    position: fixed;
    right: 2vw;
    bottom: 0;
    font-size: 60px;
    color: plum;swt
    z-index: 2;
    opacity: 1;
    cursor: pointer;
}

/* ALL Hover EFFECTS */
header nav ul li:hover h4{
    color: #d45151;
    cursor: pointer;
    transition: all .6s ease;
}
header nav ul li:hover svg{
fill:  #d45151;
}

.header:hover {
    color: #ffdbf1;
    background-color: rgb(255, 75, 135);
    transition: all .6s ease;
}

a:hover .cheesecake{
    opacity: 1;
    display: block;
    animation-play-state: running;
}

/* Contact Us */
.contactus{
    position: absolute;
    display: block;
    width: 100%;
    height: 65vh;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: rgb(243, 197, 243);
    z-index: 3;
    color: white;
    transform: translateY(-150%);
    transition: all .5s ease;
}

.card{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
    background-color: plum;
}

.card h1{
    font: 1.9rem "Poppins";
    margin-top: 20px;
    margin-left: 10vw;
}
.card p{
    font: 1rem "Poppins";
    margin-left: 10vw;
}
.card i{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    transition: all .5s ease;
}
.card i:active{
    transform: scale(.8);
    transform: rotate(105deg);
    opacity: .5;
}

.contactus form{
    display: block;
    width: 80%;
    margin: 10px auto;
}
.contactus form h3{
    margin-bottom: 10px;
}
.contactus form input{
    width: 100%;
    height: 3vh;
    margin-bottom: 5px;
    border-style: none;
    border-radius: 5px;
    outline: 0;
}


textarea{
    width: 100%;
    font: 1rem "Poppins" ;
    resize: none;
    border-style: none;
    outline: 0;
}


.contactus form input[type="button"]{
    width: 10%;
    height: 5vh;
    margin-top: 20px;
    float: right;
    font: 1rem "Poppins";
    color: white;
    background-color: plum;
    transition: all .5s ease;
    cursor: pointer;
}
input[type="button"]:active{
    transform: scale(.8);
}
.contactactive{
    position: fixed;
    transform: translateY(0);
    transition: all .5s ease;
}
.contactactive1{
    position: fixed;
    transform: translateY(-100%);
    transition: all .5s ease;
}



/* Animations, Keyframes and Responsiveness*/
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes showMe {
    0% { 

        visibility: visible; 
        z-index: 1; 
    }
	12.5% { 
      
        visibility: visible; 
        z-index: 1; 
    }
	25% {
       
         visibility: hidden; 
         z-index: 0; }
    100% {   
           
        visibility: hidden; 
        z-index: 0; 
    }
}
@keyframes navLinkFade {
from {
    opacity: 0;
    transform: translateX(50px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

.toggle .line1 {
transform: rotate(-45deg) translate(-7px, 6px);
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-7px, -6px);
}


@media screen and (max-width: 768px)
{
    html, body{ 
        overflow-x: hidden;
    } 
    body{
        position: relative;
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
        width: 6vh;
        height: 5vh;
        margin-left: 5px;
    }

    .logo h1{
        font-size: 2rem;
    }
    .mySlides {
        margin:0 auto;
        display: none;
      
    }
    .mySlides img {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 70vh;
        object-fit: cover;
        object-position: 80%;
    }

    .slideshow-container {
        width: 100%;
        height: 50vh;
        position: relative;
        margin: 0 auto;
      }
      
      .choices{
          position: absolute;
          width: 100%;
          bottom: 100vh;
          left: 48%;
          display: flex;
          margin: 0 auto;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        height: 15px;
        width: 15px;
        margin: 0 5px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .contactus form input[type="button"]{
        width: 30%;
    }

    nav{
        position: relative;
    }


    .burger{
        display: block;
    }


    .nav-link{
        display: flex;
        position: absolute;
        top: 7vh;
        align-items: center;
        width: 100%;
        flex-direction: column;
        height: 40vh;
        background: plum;
        z-index: 99999999;
        transform: translateX(100%);
    }
    .nav-link li{
        height: 5vh;
    }

    .active{
        transition: all 0.5s ease-in;
        transform: translateX(0);
    }
    .active1{
        transition: all 0.5s ease-in;
        transform: translateX(150%);
    }
    .container2{
        width: 100%;
        display: block;
    }
    .container2 h1{
        font-family: "Dancing Script";
        font-size: 2rem;
        padding: 0;
        margin: 30px auto;
        margin-top: 24vh;
        text-align: center;
    }

    .products{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .new{
        position: relative;
        display: inline-block;
        width: 80%;
        height: 40vh;
        margin: 0 40px;
        cursor: pointer;
    }

    .new img, a img{
        display: flex;
        width: 100%;
        height: 20vh;
    }

    .new p{
        background-color:#ff9b9b ;
        font-size: .5rem;
    }
    .header {
        text-align: center;
        font-size: .7rem;
    }

    a .cheesecake{
        display: none;
        position: absolute;
        top: 40px;
        left: 0px;
        
        animation: showMe 2s ease infinite 0.2s forwards;
        animation-play-state: paused;
        z-index: 99;
    }
    .container3{
        width: 100%;
    }

    .cardContainer{
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .cardContainer h1{
        margin: 20px auto; 
        font: 2.5rem "Dancing Script";
    }

    .cardContainer p{
        width: 90%;
        font-size: .7rem;
        text-align: center;
        padding: 10px;    
    }
    footer{
        background-color: plum;
        position: absolute;
        bottom: -400px;
        width: 100%;
        height: 30vh;
        display: block;
        text-align: center;
    }
    
    footer h1{
        font: 3rem "Dancing Script";
        color: white;
        margin: 20px auto;
    }
    
    footer button{
        width: 25vw;
        height: 5vh;
        border-radius: 10px;
        border-style: none;
        margin-left: 10px;
        font: 14px "Poppins";
        color: white;
        background-color: rgb(255, 66, 170);
        cursor: pointer;
    }
    
    footer p{
        font-size: .5rem;
        color: white;
        margin-top: 30px;
    }
    
    
    footer p a{
        color: white;
        text-decoration: none;
    }
    .scrollup{
        position: fixed;
        right: 2vw;
        bottom: 0;
        font-size: 3rem;
        color: plum;
        z-index: 2;
        opacity: 1;
        cursor: pointer;
    }
    .scrollAct{
        position: absolute;
        bottom: -25vh;
        right: 2vw;
        font-size: 3rem;
        color: plum;
        z-index: 2;
        opacity: 1;
       
        cursor: pointer;
    }
    .scrollAct2{
        position: fixed;
        right: 2vw;
        bottom: 0;
        font-size: 3rem;
        color: plum;
        z-index: 2;
        opacity: 1;
        cursor: pointer;
    }
    .one{
        display: none;
    }
    .two{
        display: none;
    }
}